<div>
  Rooms Index
</div>

<div>
  <ul>
    {{#each rooms as |room|}}
      <li>
        <a href="/rooms/{{room.id}}">{{room.topic}}</a> | <a href="/rooms/{{room.id}}/edit">edit</a>
      </li>

      <ul>
        {{#each post.comments as |comment|}}
        <li>{{comment.body}}</li>
        {{/each}}
        <li><a href="/rooms/{{../room.id}}/posts/{{post.id}}/comments/new">New comment</a></li>
      </ul>

    {{/each}}
  </ul>
<div>
